<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aio">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_aio"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_aio_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIO"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMlNH4niqB3eH034Goy_vvezzZMCRCIAA"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".MembershipActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Search_ListActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ProductPageActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SetReviewActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UploadReviewActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ChargeActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".FeedbackPopActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CartActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".BuyActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SetProfileActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".LastViewActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".BuyListActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RefundActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".WithdrawalPopActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CustomerServiceActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>